# vim:ft=sh
# Shell aliases for bash/zsh.

# --- Prefix rules ---
# a = alsa (audio)
# d = disk controls (mount/unmount etc.)
# e = elinks (text browser utilities), note that bare `e` should run $EDITOR instead
# i = networking (also ip,<foo>)
# p = pacman (package manager)
# q = qutebrowser (web browser)
# v = virtual console
# w = wayland specific
# x = xorg-specific (X11 server)
# py = python (+ venv, pyenv, ...)
# jl = julia
# rg = ripgrep shortcuts (search)


# COLORS AND OUTPUT FORMATTING {{{1
# https://wiki.archlinux.org/index.php/Color_output_in_console

alias ls='ls --color=auto --group-directories-first'
alias d='diff --color=always -u'
alias grep='grep --color=auto'
alias ip='ip --color=auto'
alias lsblk='lsblk -o NAME,MAJ:MIN,RM,SIZE,RO,TYPE,MOUNTPOINT,FSTYPE,FSVER'
alias tree='tree --dirsfirst'
alias less='less -iR'
alias tmux='TERM=xterm-256color tmux'
alias l='tree -L 2|less'
alias df='df --si'
alias du='du --si'

# rg,glob 'pattern' : find filenames in current directory that match glob
alias rg,glob='rg --files -g'
# rg,absglob 'pattern' : same as rg,glob but print absolute paths
alias rg,absglob='rg $PWD --files -g'
# rg,find [opts] 'pattern' : find filenames recursively
alias rg,find='rg --files|rg'
# rg,absfind [opts] 'pattern' : same as rg,find but print absolute paths
alias rg,absfind='rg --files $PWD|rg'
# ripgrep but with --color=always for piping to a pager
alias rg,color='rg --color=always'


# VERSION CONTROL AND SYSTEM ADMIN {{{1

alias y=yadm

if 1>/dev/null 2>&1 command -v pacman ; then
    alias pacman='pacman --color=auto'
    alias p='pacman --color=auto'
    alias p,get='sudo pacman -Syu --color=auto'
    alias p,rmsafe='sudo pacman -Rn --color=auto'
    alias p,rm='sudo pacman -Rns --color=auto'
    alias p,orphans='pacman -Qtdq --color=auto'
    alias p,info='pacman -Qi --color=auto'
    alias p,rinfo='pacman -Si --color=auto'
    alias aur='auracle'
    alias pacdiff='sudo SUDO_EDITOR="nvim -d" DIFFPROG="sudoedit" pacdiff'
elif 1>/dev/null 2>&1 command -v xbps-install ; then
    alias p,search='xbps-query -Rs'
    alias p,get='sudo xbps-install -Su'
    alias p,rmsafe='xbps-remove'
    alias p,rm='sudo xbps-remove -R'
    alias p,orphans='xbps-query --list-orphans'
    alias p,info='xbps-query --show'
    alias p,rinfo='xbps-query -R --show'
fi

# Use ED25519 ssh keys by default.
alias ssh-keygen='ssh-keygen -t ed25519'

# Distinguish text from binary files (defer to grep).
alias is_text_file='grep -qIF ""'

# Terminal editor.
alias e=\$EDITOR
alias v=\$VISUAL

# New terminal instance (same directory).
alias t='1>/dev/null 2>/dev/null setsid $TERM'

# Zellij because tmux is too mainstream.
alias z,main='zellij -s main --layout=main'
alias z,scratch='zellij -s scratch --layout=scratch'

# Open files but don't make a fuss on stdout.
alias open='1>/dev/null 2>/dev/null setsid xdg-open'

# The utmp stuff is horrible, let's avoid it. Musl libc doesn't provide it.
alias who='ps -A -ouser,uid|sort -u|tail -n+2'  # All users that are doing stuff.
alias users='cat /etc/passwd|cut -d: -f1'  # All users that have a password.

# MISC. ABBREVIATIONS {{{1

# (Un)mount drives, e.g. external usb devices (udisks2).
# Because automounting is not smart enough and always breaks somehow.
alias d,mount='udisksctl mount --options fmask=0133 dmask=0022 noexec -b'
alias d,unmount='sync && udisksctl unmount -b'

# Get host info.
alias ip,lan='ip route get 1|rg -o "src [^\s]*"|cut -d" " -f2'
alias ip,pub='curl ipinfo.ip/ip'

# Find and print site urls from elinks history or bookmarks.
alias e,hist='cut -f2 < ~/.elinks/globhist|fzf'
alias e,mark='cut -f2 < ~/.elinks/bookmarks|fzf'

# Launch qutebrowser with backend-forced dark mode for stuborn sites.
alias q,dark='QB_QT_DARKMODE=1 setsid -f qutebrowser -T -C ~/.config/qutebrowser/config.py'
# Launch qutebrowser with backend-forced dark mode using tor proxy.
alias q,tor='QB_QT_DARKMODE=1 QB_TOR_PORT=9050 setsid -f qutebrowser -T -C ~/.config/qutebrowser/config.py'

# Ouroboros and the Virtual Environment.
alias py=python
alias py,venv='$(2>/dev/null pyenv prefix||printf "/usr")/bin/python -m venv .venv-${PWD##*/} && source .venv-${PWD##*/}/bin/activate && pip install --upgrade pip flake8 mypy black pipdeptree pip-tools'
alias py,activate='test -f .venv-${PWD##*/}/bin/activate && source .venv-${PWD##*/}/bin/activate'
alias py,lint='pylint -E --output-format=colorized'
alias by='bpython'
alias py,update='mv -i requirements.txt requirements.bak && pip install --upgrade pip && pip-compile --resolver=backtracking && pip-sync'

# Die Julia.
alias jl='julia --banner=no'
alias jl,env='julia --banner=no --startup-file=no --project=$PWD'
alias jl,bw='julia --banner=no --color=no'
alias jl,tmp='julia --banner=no --startup-file=no --history-file=no'

# Without music, life would be a mistake.
alias a,mute='amixer set Master toggle'
alias a,mixer=alsamixer

# Create an archive of <folder>: PATTERN=<folder> && mktar <archive>.tar.gz <folder>
alias mktar='tar --transform=s/$PATTERN/$(date +%Y%m%dT%H%M)/ --exclude={__pycache,.mypy_cache} -vcaf'

# Create backup according to ./.BACKUP using rsync: backup <destination>
alias backup='rsync -rszauhP --no-links --delete --info=nonreg0 --files-from=$HOME/.BACKUP $HOME'

# Use readline key bindings in maxima.
alias maxima='rlwrap maxima'

# Cenetered 80-column display in nvimpager.
alias s='nvimpager -- -O3 -c "setl bt=nofile|setl bufhidden=hide|setl noswapfile|wincmd x|setl bt=nofile|setl bufhidden=hide|setl noswapfile|wincmd l|vert res 80|setl winfixwidth|wincmd =|hi! link WinSeparator Ignore|hi! link NonText Ignore"'

# Mpv media player detached instance with larger window, playing in loop, use: m,loop <file>.
alias m,loop='2>/dev/null 1>&2 setsid -f mpv --geometry=1200x1200 --loop'

# Launch libreoffice and stop complaining on my file descriptors.
alias office='2>/dev/null 1>&2 setsid -f libreoffice'
