; send-email requires perl-authen-sasl, perl-net-smtp-ssl, perl-mime-tools
; push via ssh requires openssh
; github credential helper requires gh cli command
; also check that the .git-commit-template.txt is in $HOME

[user]
	name = adigitoleo
	email = adigitoleo@posteo.net
	signingkey = CEFC9DF9B532AD5E
[sendemail]
	smtpUser = adigitoleo@posteo.net
	smtpServer = posteo.de
	smtpServerPort = 465
	smtpEncryption = ssl
	annotate = yes
[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
[url "git@git.sr.ht:"]
	pushInsteadOf = "https://git.sr.ht/"
[url "git@codeberg.org:"]
	pushInsteadOf = "https://codeberg.org/"
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.overleaf.com"]
	helper = cache
[pull]
	ff = only
[init]
	defaultBranch = main
[alias]
	f = fetch --auto-gc
	s = status -uno --short
	st = status --short --branch
	l = log --pretty='%C(yellow)%h %C(cyan)%cd %C(blue)%aN%C(auto)%d %Creset%s' --graph --date=relative --date-order
	c = commit
	d = diff
	b = branch -lvv
	last = log -1 HEAD
	unstage = reset HEAD --
	url = remote get-url origin
	add-mirror = "!f(){ git remote set-url --add --push origin $(git remote get-url --push origin) && git remote set-url --add --push origin \"$1\"; };f"
	delete-mirror = remote set-url --delete --push origin
	nuke = !git-nuke
	inspect = show --format=full
	develop = !git-develop
	tags = tag --sort=-committerdate --format '%(color:cyan)%(creatordate:short) %(color:yellow)%(objectname:short) %(color:reset)%(refname:short) %(color:magenta)%(subject)'
[remote]
	pushDefault = origin
[push]
	followTags = true
[checkout]
	defaultRemote = origin
[fetch]
	prune = true
[commit]
	template = ~/.git-commit-template.txt
	gpgsign = true
[tag]
	gpgSign = true
