layout {
    default_tab_template cwd="~" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="mail" focus=true {
        pane command="aerc"
    }
    tab name="notes" {
        pane cwd="vcs/notebook/notebook.wiki" command="nvim" {
            args "Home.md"
        }
    }
    tab name="work" {
        pane cwd="vcs/PyDRex"
    }
    tab name="debug" {
        pane cwd="vcs/pydrex-notebooks"
    }
    tab name="write" {
        pane
    }
    tab name="log" {
        pane command="sudo" start_suspended=true {
            args "axe" "-bf" "errors"
        }
    }
    tab name="monitor" {
        pane command="htop"
    }
}
