layout {
    default_tab_template cwd="~" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="cmd"
    tab name="calc" {
        pane command="julia" {
            args "--banner=no"
        }
    }
    tab name="music" cwd="Music"
    tab name="vpn" cwd="/tmp"
}
