body {
  background-color: #fdf6e3 !important;
}
html {
  background-color: #fdf6e3 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #fdf6e3 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #fdf6e3 !important;
}
.tile--info {
  background-color: #fdf6e3 !important;
}
.bg-white {
  background-color: #fdf6e3 !important;
}
.gh-header {
  background-color: #fdf6e3 !important;
}
.blob-code {
  background-color: #fdf6e3 !important;
}
.boxed-group-article {
  background-color: #fdf6e3 !important;
}
.boxed-group-inner {
  background-color: #fdf6e3 !important;
}
.capped-card-content {
  background-color: #fdf6e3 !important;
}
.comment-form-head.tabnav {
  background-color: #fdf6e3 !important;
}
.conversation-list-heading .inner {
  background-color: #fdf6e3 !important;
}
#readme .plain {
  background-color: #fdf6e3 !important;
}
.markdown-body,
.markdown-body table * {
  background-color: #fdf6e3 !important;
}
.Box {
  background-color: #fdf6e3 !important;
}
#content {
  background-color: #fdf6e3 !important;
}
div#page div#header {
  background-color: #fdf6e3 !important;
}
.post {
  background-color: #fdf6e3 !important;
}
.post div.entry {
  background-color: #fdf6e3 !important;
}
body.comment {
  background-color: #fdf6e3 !important;
}
.commentarea > .usertext {
  background-color: #fdf6e3 !important;
}
.commentarea .menuarea {
  background-color: #fdf6e3 !important;
}
.comments-page .panestack-title {
  background-color: #fdf6e3 !important;
}
